<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d7a775">  <td>20/04/18 15:09:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Tests.b4Cl()[pri:0, instance:advanced.Tests@38bc8ab5]">&gt;&gt;b4Cl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="d7a775">  <td>20/04/18 15:09:47</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.performTest1()[pri:0, instance:advanced.Tests@38bc8ab5]">performTest1</td> 
  <td>main@315138752</td>   <td></td> </tr>
</table>
