<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>functional</td><td>TestNGBasics.signUp()[pri:0, instance:testng.TestNGBasics@6cc4c815]<br/>TestNGBasics.quitBrowser()[pri:1, instance:testng.TestNGBasics@6cc4c815]<br/></td></tr>
<tr><td>regression</td><td>TestNGBasics.signUp()[pri:0, instance:testng.TestNGBasics@6cc4c815]<br/>TestNGBasics.quitBrowser()[pri:1, instance:testng.TestNGBasics@6cc4c815]<br/></td></tr>
<tr><td>sanity</td><td>TestNGBasics.signUp()[pri:0, instance:testng.TestNGBasics@6cc4c815]<br/>TestNGBasics.quitBrowser()[pri:1, instance:testng.TestNGBasics@6cc4c815]<br/></td></tr>
<tr><td>smoke</td><td>TestNGBasics.signUp()[pri:0, instance:testng.TestNGBasics@6cc4c815]<br/>TestNGBasics.quitBrowser()[pri:1, instance:testng.TestNGBasics@6cc4c815]<br/></td></tr>
</table>
