<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:16:58</td>   <td>0</td> <td title="&gt;&gt;TestNGBasics.b4Suite()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&gt;&gt;b4Suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:16:58</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.b4Test()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&gt;&gt;b4Test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:16:58</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.b4Class()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&gt;&gt;b4Class</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:16:58</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.b4method()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&gt;&gt;b4method</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:06</td>   <td>8252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.signUp()[pri:0, instance:testng.TestNGBasics@6cc4c815]">signUp</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:06</td>   <td>8277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.afterMethod()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:08</td>   <td>9488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGBasics.b4method()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&gt;&gt;b4method</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:14</td>   <td>16034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGBasics.quitBrowser()[pri:1, instance:testng.TestNGBasics@6cc4c815]">quitBrowser</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:14</td>   <td>16040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.afterMethod()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:15</td>   <td>17044</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.afterClass()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:15</td>   <td>17045</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGBasics.afterTest()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>20/04/01 08:17:15</td>   <td>17067</td> <td title="&lt;&lt;TestNGBasics.afterSuite()[pri:0, instance:testng.TestNGBasics@6cc4c815]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
</table>
