<h2>Reporter output</h2><table><tr><td>In B4Suite</td></tr>
<tr><td>In B4Test</td></tr>
<tr><td>In B4Class</td></tr>
<tr><td>In B4Method</td></tr>
<tr><td>In AfterMethod</td></tr>
<tr><td>In B4Method</td></tr>
<tr><td>InquitBrowser method</td></tr>
<tr><td>In AfterMethod</td></tr>
<tr><td>In afterClass</td></tr>
<tr><td>In AfterTest</td></tr>
<tr><td>In afterSuite</td></tr>
</table>