<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumGridDemo.b4Suite()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">&gt;&gt;b4Suite</td> 
<td>&nbsp;</td>  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:40</td>   <td>8226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumGridDemo.b4Suite()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">&gt;&gt;b4Suite</td> 
<td>&nbsp;</td>  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:46</td>   <td>14512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumGridDemo.b4Suite()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">&gt;&gt;b4Suite</td> 
<td>&nbsp;</td>  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:35</td>   <td>3517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumGridDemo.performTest()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">performTest</td> 
  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:43</td>   <td>10928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumGridDemo.performTest2()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">performTest2</td> 
  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>20/04/15 08:51:50</td>   <td>18124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumGridDemo.performTest3()[pri:0, instance:seleniumgrid.SeleniumGridDemo@1500955a]">performTest3</td> 
  <td>main@770189387</td>   <td></td> </tr>
</table>
