<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMaven.TestRun()[pri:0, instance:tests.TestMaven@735b5592]">TestRun</td> 
  <td>pool-1-thread-1@196731240</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:09</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMaven.TestRun1()[pri:0, instance:tests.TestMaven@735b5592]">TestRun1</td> 
  <td>pool-1-thread-2@1176562801</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:40</td>   <td>30957</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTest.afterTest()[pri:0, instance:tests.HomePageTest@5c3bd550]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:09</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMaven.aftermeth()[pri:0, instance:tests.TestMaven@735b5592]">&lt;&lt;aftermeth</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@196731240</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:09</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMaven.aftermeth()[pri:0, instance:tests.TestMaven@735b5592]">&lt;&lt;aftermeth</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@196731240</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:08</td>   <td>-582</td> <td title="&gt;&gt;AbstractTest.b4Suite()[pri:0, instance:tests.HomePageTest@5c3bd550]">&gt;&gt;b4Suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:10</td>   <td>1108</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTest.b4Test()[pri:0, instance:tests.HomePageTest@5c3bd550]">&gt;&gt;b4Test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:08</td>   <td>-480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMaven.b4meth()[pri:0, instance:tests.TestMaven@735b5592]">&gt;&gt;b4meth</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1176562801</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/05/17 17:32:08</td>   <td>-480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMaven.b4meth()[pri:0, instance:tests.TestMaven@735b5592]">&gt;&gt;b4meth</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1176562801</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>20/05/17 17:32:30</td>   <td>21597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickSignUpTest()[pri:0, instance:tests.HomePageTest@5c3bd550]">clickSignUpTest</td> 
  <td>pool-2-thread-1@471283841</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>20/05/17 17:32:27</td>   <td>18397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickSignUpTest1()[pri:0, instance:tests.HomePageTest@5c3bd550]">clickSignUpTest1</td> 
  <td>pool-2-thread-2@778842158</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:39</td>   <td>30371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.postTests()[pri:0, instance:tests.HomePageTest@5c3bd550]">&lt;&lt;postTests</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@778842158</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:40</td>   <td>30952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.postTests()[pri:0, instance:tests.HomePageTest@5c3bd550]">&lt;&lt;postTests</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@778842158</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:10</td>   <td>1128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.preReq()[pri:0, instance:tests.HomePageTest@5c3bd550]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@778842158</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/05/17 17:32:10</td>   <td>1144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.preReq()[pri:0, instance:tests.HomePageTest@5c3bd550]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@778842158</td>   <td></td> </tr>
</table>
