<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcdbd">  <td>20/04/11 15:35:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMaven.TestRun()[pri:0, instance:tests.TestMaven@62ee68d8]">TestRun</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/04/11 15:35:57</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMaven.aftermeth()[pri:0, instance:tests.TestMaven@62ee68d8]">&lt;&lt;aftermeth</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/04/11 15:35:56</td>   <td>-452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMaven.b4meth()[pri:0, instance:tests.TestMaven@62ee68d8]">&gt;&gt;b4meth</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
</table>
